

.aboutus {
    margin: 20px auto;

    &-img {
        width: 100%;
    }
}


@media(min-width: 992px) {
    .aboutus {
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin: 40px auto;

        &-img {
            width: 50%;
        }

        &-text {
            width: 50%;
        }
    }
}