
.input_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(190, 190, 190);
    input {
        width: 85%;
        border-radius: 0 !important;
    }
    
    
    .fa-eye {
        width: 8%;
        cursor: pointer;
        color: gray;
        padding: 5px;
        &:hover {
            color: black;
        }
    }
}

.change_login-text {
    margin-top: 20px;
}